@import "tailwindcss";

/* index.html */
@layer components {
  .member-card {
    @apply flex items-center p-4 rounded-xl bg-slate-900/50 border border-slate-800;
  }
  .member-avatar {
    @apply w-10 h-10 rounded-full bg-slate-800 text-emerald-400 flex items-center justify-center text-sm font-bold mr-4 shrink-0;
  }
  .member-name {
    @apply font-medium text-slate-300 text-sm md:text-base;
  }
  .btn-primary {
    @apply px-5 py-2 bg-emerald-600 hover:bg-emerald-700 text-white text-sm font-medium rounded-lg transition-colors duration-200;
  }
  .text-label {
    @apply text-slate-400 text-xs uppercase tracking-widest font-semibold mb-1;
  }
  .emerald-bar {
    @apply bg-emerald-500 rounded-full shadow-lg shadow-emerald-500/50;
  }
  .info-group {
    @apply border-l-2 border-slate-700 pl-4;
  }
  .heading-serif {
    @apply font-serif font-bold text-slate-100;
  }
  

/* login.html & register.html */
  
  .auth-card {
    @apply bg-slate-900 border border-slate-800 rounded-2xl shadow-2xl relative overflow-hidden;
  }
  
  .form-input {
    @apply w-full bg-slate-950 border border-slate-800 rounded-xl px-5 py-4 text-slate-200 placeholder-slate-600 focus:outline-none focus:border-emerald-500/50 focus:ring-1 focus:ring-emerald-500/50 transition-all duration-300;
  }

  .input-label {
    @apply text-xs font-bold text-slate-500 uppercase tracking-widest ml-1;
  }

  .btn-submit {
    @apply w-full bg-emerald-600 hover:bg-emerald-500 text-white font-bold cursor-pointer transition-all duration-300 tracking-wide uppercase shadow-[0_0_20px_rgba(16,185,129,0.15)] hover:shadow-[0_0_30px_rgba(16,185,129,0.3)];
  }
}